body {
    background: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #F0F0F0;
}

.container {
    text-align: center;
    padding: 2em;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

h1 {
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
}

#generateButton, #locationButton {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -5px rgba(255, 0, 0, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    animation: glow 2s infinite;
}

#generateButton {
    background: #ff0000;
    animation-name: glow-red;
}

#locationButton {
    background: #800080;
    animation-name: glow-purple;
}

@keyframes glow-red {
    0% { box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000; }
    100% { box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000; }
}

@keyframes glow-purple {
    0% { box-shadow: 0 0 5px #800080, 0 0 10px #800080, 0 0 15px #800080, 0 0 20px #800080; }
    100% { box-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080, 0 0 40px #800080; }
}

#generateButton:hover, #locationButton:hover {
    box-shadow: 0px 10px 30px -5px rgba(255, 255, 255, 0.5);
}

#suggestion, #location {
    font-size: 40px;
    font-weight: bold;
    color: #ff0000;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
}
